<% include ../partials/headersite%>


<section class="shopAdmin mt-5 pt-5">
        <div class="products mt-5">
    <a class="pt-5" href="/shop/addProduct/">Dodaj produkt</a>
        </div>








</section>
<% include ../partials/footersite%>