<!doctype html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
  your browser</a> to improve your experience and security.</p>
<![endif]-->
<nav class="navbar" id="navbar">
  <div class="container" id="container">
    <div class="navbar-logo">
      <a href="#"><img class="logo" id="logo" src="/images/Logojd2roz.png" height="120px"></a>
    </div>
    <div class="navbar-menu" id="navbar-menu">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars navbutton"></i></a>
      <div class="navbar-li" id="navbar-li">
        <ul>
          <li><a class="overdash" href="#">Home</a></li>
          <li><a  class="overdash" href="#aboutme">About Me</a></li>
          <li><a  class="overdash" href="#title-is-spaced">Projects</a></li>
          <li><a class="special" href="contact.html">Say Hello</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<section class="header"><h1><b>Full Stack developer</b></h1>
  <h3>I design and code beautifully simple things ,and I love what I do.</h3>
  <img id="face" src="/images/portfolio.JPG"></section>
</div>
<section class="about" id="aboutme">
  <div class="aboutme"><h3 class="title-is-white">Hello I'm Jakub Dobrzeniecki. Nice to meet you.</h3>
    <h5>Web developer ,who started his programming journey 3 years ago. After that time I learn alot from java
      variables to javascript. After dozens of small to medium projects and few bigger one's. Currently on a away to Angular.</h5>
    <small> So don't give up on your dreams, grow and code hard until u get it.</small>
    <div class="hobbies"><h4>Hobbie's</h4>
      <div class="hobbies-list">
        <ul>
          <li>coding</li>
          <li>reading books</li>
          <li>drawing</li>
          <li>watching series</li>
          <li>listening to great music</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="interactive">
  <div class="column-centered">
    <div class="text-title">
      <i class="fa fa-code"></i>
      <h3><b>Full Stack Developer</b></h3>
    </div>
    <div class="text-inner-column">
      <div class="text-item-column"><p>I tend to code things from scratch, and enjoy bringing ideas to life in the
        browser.</p></div>

      <h4 class="column-title">Languages I speak:</h4>

      <p> HTML, Javascript, JQuery, CSS, Sass, BootStrap 4, Node.JS, Express, EJS, Java, MongoDB, NPM , Firebase </p>

      <h4 class="column-title"> Dev Tools:</h4>
      <ul class="ul-dev-tools">
        <li>WebStorm</li>
        <li>WebPack</li>
        <li>Heroku</li>
        <li>Adobe PhotoShop</li>
        <li>Firebase</li>
        <li>Github</li>
      </ul>
    </div>
  </div>
</section>
<section class="projects">
  <div class="container-is-narrow">
    <h1 id="title-is-spaced" class="title-is-spaced">My Recent Work</h1>
    <div class="box">
      <div class="column-project">
        <div class="project-one-third">
          <div class="image"><img class="project-img" src="/images/service.png">
            <div class="project-desc" onmouseover="this.style.opacity=1;" onmouseout="this.style.opacity=0;"><h1
              class="title-project-first">Service app</h1><a class="special2" href="/service">Visit website</a></div>
          </div>
        </div>
        <div class="project-one-third">
          <div class="image"><img class="project-img" src="/images/shop.png">
            <div class="project-desc" onmouseover="this.style.opacity=1;" onmouseout="this.style.opacity=0;"><h1
              class="title-project-first">Shop app</h1><a class="special2" href="/shop">Visit website</a></div>
          </div>
        </div>
        <div class="project-one-third">
          <div class="image"><img class="project-img" src="/images/fetch.jpg">
            <div class="project-desc" onmouseover="this.style.opacity=1;" onmouseout="this.style.opacity=0;"><h1
              class="title-project-first">Fetch data from wiki</h1><a class="special2" href="/skygate">Visit website</a></div>
          </div>
        </div>
        <div class="project-one-third">
          <div class="image"><img class="project-img" src="/images/contact.jpg">
            <div class="project-desc" onmouseover="this.style.opacity=1;" onmouseout="this.style.opacity=0;"><h1
              class="title-project-first">Contact Book using FireBase</h1><a class="special2" href="/strv">Visit website</a></div>
          </div>
        </div>
        <div class="project-one-third">
          <div class="image"><img class="project-img" src="/images/template.png">
            <div class="project-desc" onmouseover="this.style.opacity=1;" onmouseout="this.style.opacity=0;"><h1
              class="title-project-first">First project</h1><a class="special2" href="#">Visit website</a></div>
          </div>
        </div>
        <div class="project-one-third">
          <div class="image"><img class="project-img" src="/images/template.png">
            <div class="project-desc" onmouseover="this.style.opacity=1;" onmouseout="this.style.opacity=0;"><h1
              class="title-project-first">First project</h1><a class="special2" href="#">Visit website</a></div>
          </div>
        </div>
      </div>
    </div>


  </div>


</section>
<section class="repos">
  <gh-repos></gh-repos>
  <template id="loader">
    <style>.svg-inline--fa {
      display: inline-block;
      font-size: inherit;
      height: 1em;
      overflow: visible;
      vertical-align: -.125em;
    }
    .svg-inline--fa.fa-w-16 {
      width: 1em;
    }</style>
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></template>
  <template id="gh-logo">
    <style>.svg-inline--fa {
      display: inline-block;
      font-size: inherit;
      height: 1em;
      overflow: visible;
      vertical-align: -.125em;
    }
    .svg-inline--fa.fa-w-16 {
      width: 1em;
    }</style>
    My <i class="fab fa-github"></i> repositories
  </template>
</section>
<section class="secWraper">
  <div class="wraper">
    <div class="project">
      <div class="cont-text">
        <div class="text-item"><h1 class="title-is-white">Start a project</h1></div>
        <div class="text-item"><p class="text-par">Interested in working together? We should queue up a chat. I’ll buy
          the coffee.</p></div>
        <div class="text-item"><a class="special2" href="project.html">Let's do this</a></div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="cont">
    <div class="logo-footer">
      <img src="/images/logotransparent.png" height="120px">
    </div>
    <div class="foo-text">
      <h1 class="title_footer">Living, learning, & leveling up </br> one day at a time.</h1>
    </div>
    <div class="social"><a href="https://facebook.pl" target="_blank"><i class="fa fa-facebook-f"></i></a>
      <a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="mailto:jakub.dobrzeniecki1@gmail.com"><i class="fa fa-envelope"></i></a>
    </div>
    <div class="copyright">Handcrafted by <i class="fa fa-copyright"></i> jacob
    </div>
  </div>
</footer>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () {
    ga.q.push(arguments)
  };
  ga.q = [];
  ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto');
  ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

<script type="text/javascript" src="/javascripts/runtime.js"></script>
<script type="text/javascript" src="/javascripts/vendors.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script></body>
<script>function myFunction() {
  var x = document.getElementById("navbar-li");
  if (x.className === "navbar-li") {
    x.className += " responsive";
  } else {
    x.className = "navbar-li";
  }
}</script>
</html>
