<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Project</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<nav class="navbar-contact">
  <div class="container" id="container">
    <div class="navbar-contact-logo">
      <a href="#"><img class="logo" id="logo" src="img/Logojd2roz.png" height="120px"></a>
    </div>
    <div class="navbar-contact-menu">
      <div class="navbar-contact-li">
        <ul>
          <li><a href="index.html"><i class="fa fa-sign-out sizer"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<section class="contact-me">
  <div class="container">
    <div class="contact-me-box">
      <h1>Thanks for taking the time to reach out. What can I do for you today?</h1>
      <form class="form-contact" method="post" action="msg_send_project.php">
        <div class="columns-centered">
          <div class="column-half">
            <div class="field">
              <label>Name:</label>
              <div class="input-form"><input name="name" class="input-put" type="text" ></div></div>
          </div>
          <div class="column-half">
            <div class="field">
              <label>E-mail:</label>
              <div class="input"><input name="email" class="input-put" type="email" ></div></div></div></div>
        <div class="columns-centered">
          <div class="column-half">
            <div class="field">
              <label>Type of project:</label>
              <div class="input-form"><select name="project" class="input-project"><option value="responsive">Responsive design</option><option value="web">Web App</select></div></div>
          </div>
          <div class="column-half">
            <div class="field">
              <label>Budget:</label>
              <div class="input"><select name="budget" class="input-project"><option>1000$ - 2000$</option><option>2000$ - 5000$</option><option>5000$ - 10000$</option></select></div></div></div></div>
        <div class="column-centered">
          <div class="field-noPad-noMar">
            <label>Message:</label>
            <div class="textarea"><textarea name="message" cols="40" rows="5" ></textarea></div>
          </div></div>
        <div class="column-centered">
          <div class="column-one-third">
            <div class="g-recaptcha" data-sitekey="6LfzHocUAAAAACAU61og-tkktO1_ze9iZ51HZ1BJ" data-callback="enableBtn"></div>
            <input type="submit" id="submitButton" class="special3" value="Send a Message">
            <a class="special special3" style="padding: 15px" href="/">Go back</a>
          </div></div>
      </form>
    </div>
  </div>

</section>
<script type="text/javascript" src="./js/main.js"></script>
<script type="text/javascript" src="runtime.js"></script><script type="text/javascript" src="vendors.js"></script><script type="text/javascript" src="main.js"></script><script type="text/javascript" src="runtime.js"></script><script type="text/javascript" src="vendors.js"></script><script type="text/javascript" src="main.js"></script><script type="text/javascript" src="runtime.js"></script><script type="text/javascript" src="vendors.js"></script><script type="text/javascript" src="main.js"></script></body>
</html>
