<div class="container-fluid mt-5">
    <div class="row heightThat ">
        <div id="fb" data-location="#" class="col-lg-2 col-md-2 col-2 text-center heightThat d-flex align-items-center justify-content-center effect"><a href="#">
            <i class="fab fa-facebook-f sizer "></i>
            </a></div>
        <div class="col-lg-2 col-md-2 col-2 bg-light heightThat effect">
        </div>
        <div class="col-lg-2 col-md-2 col-2 text-center heightThat d-flex align-items-center justify-content-center effect">

        </div>
        <div class="col-lg-2 col-md-2 col-2 text-center heightThat d-flex align-items-center justify-content-center effect">

        </div>
        <div class="col-lg-2 col-md-2 col-2 bg-light heightThat effect ">
        </div>
        <div id="insta" data-location="#" class="col-lg-2 col-md-2 col-2 text-center heightThat d-flex align-items-center justify-content-center effect"><a href="#">
            <i class="fab fa-instagram sizer"></i></a>
        </div>
    </div>
</div>
<footer class="first text-center mt-5 bg-dark">
    <div class="alert alert-dismissible text-center cookiealert" role="alert">
        <div class="cookiealert-container">
            <b>Lubisz ciasteczka?</b> &#x1F36A; Używamy ciasteczek by zapewnić Ci jak najlepsze doświadczenie korzystania ze strony. <a href="http://wszystkoociasteczkach.pl/po-co-sa-ciasteczka/" target="_blank">Dowiedz się więcej</a>

            <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
                Zgadzam się
            </button>
        </div>
    </div>



    <div class="row px-3 pb-4 justify-content-center text-center">
        <div class="col-lg-5 mt-3">
            <div class="info d-flex justify-content-center align-items-center h-100">
            <p class="">Sprzedażą produktów Apple zajmujemy się od 2007 roku.
            Apple to nie tylko telefony, wysokiej jakości sprzęt komputerowy ale i stabilne oprogramowanie – cechy te, przyczyniają się do ogromnej popularności tej firmy.
            Nasi pracownicy to profesjonalni doradcy, na codzień użytkownicy Apple, zafascynowani produktami  gotowi zawsze służyć fachowym wsparciem.
            </p></div>
    </div>
        <div class="col-lg-4 mt-3">
            <h6 class="tel">Mapa Strony</h6>
            <div class="info">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="info" href="#">O nas</a></li>
                <li class="nav-item"><a class="info" href="#">Sklep</a></li>
                <li class="nav-item"><a class="info" href="#">Kontakt</a></li>
            </ul>
            </div>
        </div>
        <div class="col-lg-3 mt-3">
            <div class="info text-center h-100">
                <h6 class="text-center tel">Kontakt</h6>
                   <div class="d-flex flex-column"> <span class="float-left">ul.Ulica</span>
                    <span class="float-left">26-601 Radom</span>
                <span class="float-left">tel. Sklep <a class="tel" href="tel:+48500700780">500 555 555</a></span>
                <span class="float-left">tel. Serwis <a class="tel" href="tel:+48500700780">500 333 333</a></span></div>
            </div>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</footer>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/cookiealert.js"></script>
<script src="/javascripts/parallax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
<script>
    const header = document.getElementById('header');
    const parralaxLogin = new Parallax(header);</script>
</body>
</html>
